@using Lab06.MVC.Carriage.Models
@model IEnumerable<TripViewModel>

@{
    ViewBag.Title = "Trips";
    Layout = "~/Views/Shared/_RegisteredUsersLayoutPage.cshtml";
}

@foreach (var errors in ViewContext.ViewData.ModelState.Values)
{
    foreach (var err in errors.Errors)
    {
        @Html.Partial("_ErrorSmallWindow", err.ErrorMessage)
    }
}

<div class="container">
    <h2 style="text-align: center">Available trips</h2>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Route)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DepartureDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DepartureTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ArrivalDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ArrivalTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FreeSeatNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@string.Concat(item.Route.CityDepart, " → ", item.Route.CityArr)</td>
                    <td>@item.DepartureDate.Date.ToString("dd-MM-yyyy")</td>
                    <td>@item.DepartureTime.ToString("HH:mm")</td>
                    <td>@item.ArrivalDate.Date.ToString("dd-MM-yyyy")</td>
                    <td>@item.ArrivalTime.ToString("HH:mm")</td>
                    <td>@item.FreeSeatNumber</td>
                    <td>@item.Price</td>
                    <td>
                        <input type="button" class="btn btn-success" value="Buy ticket!" onclick="location.href='@Url.Action("CreateOrder", "RegisteredUser" ,new { tripId = item.Id })'" />
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
