@using Lab06.MVC.Carriage.Models
@model IEnumerable<TripViewModel>
@{
    ViewBag.Title = "Trips";
    Layout = "~/Views/Shared/_RegisteredUsersLayoutPage.cshtml";
}

<div class="container">
    <h2>Available trips</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>
                    Route
                </th>
                <th>
                    Departure Date
                </th>
                <th>
                    Departure Time
                </th>
                <th>
                    Arrival Date
                </th>
                <th>
                    Arrival Time
                </th>
                <th>
                    FreeSeetsNumber
                </th>
                <th>
                    Price
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>@string.Concat(item.Route.CityDepart, " ->> ", item.Route.CityArr)</td>
                <td>@item.DepartureDate.Date.ToString("dd-MM-yyyy")</td>
                <td>@item.DepartureTime.ToString("HH:mm")</td>
                <td>@item.ArrivalDate.Date.ToString("dd-MM-yyyy")</td>
                <td>@item.ArrivalTime.ToString("HH:mm")</td>
                <td>@item.FreeSeetsNumber</td>
                <td>@item.Price</td>
                <td>@Html.ActionLink("Buy ticket", "CreateOrder", new {tripId = item.TripId})</td>
            </tr>
            }
        </tbody>
    </table>
</div>
