@using Lab06.MVC.Carriage.Models
@model Lab06.MVC.Carriage.ViewModelsForViews.Admin.TripsViewModel

@{
    ViewBag.Title = "TripsWork";
    Layout = "~/Views/Shared/_AdminLayoutPage1.cshtml";
}

@foreach (var errors in ViewContext.ViewData.ModelState.Values)
{
    foreach (var err in errors.Errors)
    {
        @Html.Partial("_ErrorSmallWindow", err.ErrorMessage)
    }
}

<table class="table">
    <tr>
        <th>Route</th>
        <th>Departure Date</th>
        <th>Departure Time</th>
        <th>Arrival Date</th>
        <th>Arrival Time</th>
        <th>FreeSeetsNumber</th>
        <th>Price</th>
    </tr>
    <tr>
        @using (Html.BeginForm())
        {
            <td>
                <div class="form-group">
                    <select name="RouteId" class="form-control" onclick="removeErrorStyle(this)">
                        @foreach (var route in Model.Routes)
                        {
                            <option value="@route.RouteId">@string.Concat(route.CityDepart, " ->> ", route.CityArr)</option>
                        }
                    </select>
                </div>
            </td>
            @Html.Partial("Trip", Model.WrongInputTripViewModel ?? new TripViewModel())
            <td>
                <input class="btn btn-primary" type="submit" name="submitButton" value="Create" />
            </td>
        }
    </tr>

    @if (Model.Trips != null && Model.Trips?.Count() > 0)
    {
        foreach (var item in Model.Trips)
        {
            <tr>
                @using (Html.BeginForm())
                {
                    <td>
                        <div class="form-group">
                            <input type="text" readonly="readonly" value="@string.Concat(item.Route.CityDepart, " ->> ", item.Route.CityArr)" class="form-control @item.HtmlFormatting" />
                            <input type="hidden" name="TripId" value="@item.TripId" class="form-control" />
                            <input type="hidden" name="RouteId" value="@item.RouteId" class="form-control" />
                        </div>
                    </td>
                    @Html.Partial("Trip", item)
                    @Html.Partial("_OptionsEditing")
                }
            </tr>
        }
    }
</table>

@if (Model.WrongInputTripViewModel != null)
{
    <script>
        document.addEventListener('DOMContentLoaded',function(){
            makeOptionSelected(@Model.WrongInputTripViewModel.RouteId);
            makeSelectRed();
        });
    </script>
}